Repository lockfale/svc-egress-mqtt-to-badge: changes, and which CircleCI parameters are due for each by the changed paths.
All: src-modified, poetry-modified, dockerfile-modified

.circleci/config.yml:

version: 2.1

setup: true

orbs:
  path-filtering: circleci/path-filtering@1.0

workflows:
  setup-workflow:
    jobs:
      - path-filtering/filter:
          tag: "3.12"
          base-revision: main
          config-path: .circleci/workflows.yml
          mapping: |
            .*\.py src-modified true
            poetry.lock poetry-modified true
            Docker* dockerfile-modified true

Bumps docker tag for cackalacky/2025/cyberpartner/svc-egress-mqtt-to-badge [skip ci]
  manifests/kustomization.yaml
Due: none

added transform dict
  mqtt_to_kafka/__init__.py
  mqtt_to_kafka/datatypes.py
Due: src-modified

great
  Dockerfile
  docker-compose.services.yaml
  mqtt_to_kafka/datatypes.py
  poetry.lock
  pyproject.toml
  service_translate_kafka_mqtt.py
Due: src-modified, poetry-modified

f
  service_translate_kafka_mqtt.py
Due: src-modified

ffff
  service_translate_kafka_mqtt.py
Due: src-modified

updated dockerfile
  Dockerfile
Due: none

asdf
  mqtt_to_kafka/datatypes.py
Due: src-modified

stuff
  mqtt_to_kafka/datatypes.py
Due: src-modified

sodifguwerhg
  mqtt_to_kafka/datatypes.py
Due: src-modified

sodifguwerhg
  service_translate_kafka_mqtt.py
Due: src-modified

updated service structure and cleaned things up
  Dockerfile
  docker-compose.infrastructure.yaml
  docker-compose.services.yaml
  mqtt_publish_gate.py
  mqtt_publish_payload.py
  mqtt_to_kafka/datatypes.py
  poetry.lock
  pyproject.toml
  redis_db_indexes.py
  service_translate_kafka_mqtt.py
Due: src-modified, poetry-modified

Updated readme
  README.md
Due: none

removed buildarg from dockerfile
  Dockerfile
Due: none

flattening out the datatypes
  Dockerfile
  datatypes.py
  docker-compose.services.yaml
  mqtt_publish_payload.py
  mqtt_to_kafka/__init__.py
  service_translate_kafka_mqtt.py
Due: src-modified

linting / formatting
  service_translate_kafka_mqtt.py
Due: src-modified
